*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.App1
{
    width: 100%;
    min-height: 50vh;
    padding: 20px 0;
    background: #ffffff;
}
.container12
{
    width: 100%;
    max-width: 480px;
    margin:auto;
}

.accordion
{
    width: 100%;
    max-width: 80%;
    margin: 18px auto;
    color: #ffffff;
}

.accordionheading
{
    background: #3f475d;
    padding: 14px 0;
}

.accordionheading .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordionheading p{
    line-spacing:1.2px;
    font-weight: 600;
    font-size: 16px;
    
}

.accordionheading span{
    cursor: pointer;
}

.accordionContent
{
    background: rgb(255, 255, 255);
    height:0;        
    opacity: 0;
    display: flex;
    overflow: hidden;
    transition: all 600ms ease-in-out;
}

.accordionContent.show{
    height: 180px;
    opacity: 1;
}

.accordionContent p{
    color:#000000;
    font-size: 15px;
    line-height: 1.6;
}

#text{
    font-weight: 350;
    padding-left: 35px;
}
